*{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.867);
}

html {
    height: 100%;
    background-color: #f7f7f7;
}

.main {
    height: 100%;
    margin: 0;
}

.circle-small {
    height: 45px;
    width: 45px;
    margin: 20px;
    border-radius: 20px;
    object-fit: cover;
}

.top-section {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    height: 80px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 20px #cccccc4a;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.top-profilegroup {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: auto auto;
    border-right: 2px solid rgba(128, 128, 128, 0.159);
    position: relative;
}

.top-profilegroup *:hover{
    cursor: pointer;
}

.top-profilegroup *:active{
    color: #cccccc;
}

.dialog-profile{
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    right: -260px;
    top: 60px;

    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 4px 20px #cccccc;
    font-weight: normal;
    border-collapse: collapse;
    visibility: hidden;
    transition: visibility 0.3s;
}

.dialog-profile *{
    color: #00000099;
}

.top-midgroup {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgba(128, 128, 128, 0.159);
}

.top-midgroup button {
    font-size: 22px;
    max-width: 150px;
    height: 70%;
    margin: 50px;
    flex: 1;
    align-content: center;
    text-align: center;
    transition: font-size .15s;
    background-color: white;
    border: 0;
}

.top-midgroup button:hover{
    font-size: 24px;
    cursor: pointer;
}


.top-searchgroup {
    display: flex;
    flex: 1;
    align-items: center;
}

.top-searchgroup .searchbar {
  height: 50px;
  margin: 20px;
  background-color: #f7f7f7;
  border: 0;
  border-radius: 4px;
  padding: 2px 20px 0px 20px;
  font-size: 20xp;
  color: rgba(0, 0, 0, 0.671);
}

.mid-section {
    margin-top: 150px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.records-group {
    width: 85%;
    height: 100%;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-top: 70px;
    background-color: white;
    box-shadow: 0px 0px 50px #1100000e;
    display: grid;
    grid-template-columns: min-content auto auto auto auto auto auto auto;
    position: relative;
    z-index: 2;
}

.confirm-buttons {
    position: fixed;
    border-radius: 5px;
    bottom: 10px;
    left: 45%;
    font-size: 25px;
    font-weight: bold;
    color: #cccccc4a;
    box-shadow: 0 2px 15px #cccccc;
    padding: 10px;
    background-color: white;
    padding: 20px 30px 10px 40px;
    border-radius: 20px;
    display: flex;
    visibility: hidden;
    margin: 0;
    column-gap: 20px;
}
    
.confirm-buttons *{
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    transition: box-shadow 0.2s, translate 0.2s;
    border: 2px solid #cccccc;
}

.confirm-buttons *:nth-child(1){
    color: white;
    background-color: #3153c2;
    border: 0;
}

.confirm-buttons div:hover {
    cursor: pointer;
    box-shadow: 0px 2px 10px #a09a9a;
}

.confirm-buttons *:active{
    background-color: #6184f6;
    color: white;
}

.records-group *{
    color: #00000099;
    margin-bottom: 10px;
    align-content: center;
}

.records-row {
    border-bottom: 1px solid #00000099;
}

.records-row input[type="text"],
.records-row input[type="date"]{
    margin-top: 20px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.records-row input[type="file"]{
    border: 1px solid #cccccc;
    opacity: 0;
}

.records-row select{
    margin-top: 20px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.records-header {
    margin-bottom: 40px;
    height: 60px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.selectall-icon {
    color: #cccccce2;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.2s;
    border: 2px solid #cccccc;
    visibility: hidden;
}

.selectall-icon:hover {
    cursor: pointer;
}

.selectall-icon:active {
    background-color: #cccccc8a;
}

.selection-icon {
    border-bottom: 0;
    padding: 10px;
    font-size: 60px;
    color: #cccccc;
    transition: background-color 0.2s;
    visibility: hidden;
}

.selection-icon:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #cccccc;
}

.selection-icon:active {
    color: lightgray;
}

.dialog-options {
    position: absolute;
    right: 30px;
    top: 0;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px #cccccc;
    font-weight: normal;
    border-collapse: collapse;
    visibility: hidden;
    transition: visibility 0.3s;
}

.dialog-options *:active{
    color: #cccccc;
}

.dialog-options tr,
.dialog-profile tr{
    transition: background-color .2s;
}

.dialog-options tr:hover,
.dialog-profile tr:hover{
    background-color: #cccccc4a;
    cursor: pointer;
}

.dialog-options th:nth-child(odd),
.dialog-profile th:nth-child(odd){
    font-size: 25px;
}

.dialog-options th:nth-child(even),
.dialog-profile th:nth-child(even){
    font-size: 21px;
    font-weight: normal;
    text-align: left;
}

.button-options {
    margin: 0;
    border: 0;
    font-size: 50px;
    background-color: transparent;
    font-weight: bold;
    transition: font-size .15s;
}

.button-options:hover {
    cursor: pointer;
    font-size: 51px;
}
/* ------------------------------------------login page--------------------------------------------------*/
.index{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1436a1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login {
    height: 80%;
    width: 50%;
    border-radius:20px;
}

.login-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.input-uname,
.input-password{
    font-size: 25px;
    width: 50%;
    height: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    outline: 0;
    transition: box-shadow 0.3s, width 0.3s;
}

.input-uname:focus,
.input-password:focus {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.295);
    width: 51%;
}

.input-submit {
    width: 15%;
    height: 70px;
    font-size: 25px;
    color: #1436a1;
    border: 0;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color .15s;
}

.input-submit:active {
   background-color: #3153c2;
   color: white;
}

.input-submit:hover {
   cursor: pointer;
}